<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
    <id>bmoelk.infusionsoft</id>
    <name>InfusionSoft Link</name>
    <description>Links InfusionSoft data into cerb.</description>
    <author>Brian Moelk</author>
    <version>0.0.1</version>
    <link>https://github.com/bmoelk/cerb-infusionsoft</link>
    <image>plugin.png</image>

    <!-- Requirements -->

    <requires>
        <app_version min="7.0.3" max="7.0.99"/>
        <php_extension name="curl"/>
    </requires>

    <!-- Plugin Dependencies -->

    <dependencies>
        <require plugin_id="cerberusweb.core" version="7.0.0"/>
    </dependencies>

    <!-- Extensions -->

    <extensions>

        <!-- Profile Tab -->

        <extension point="cerberusweb.ui.context.profile.tab">
            <id>bmoelk.infusionsoft.tab</id>
            <name>InfusionSoft Tab</name>
            <class>
                <file>api/App.php</file>
                <name>ProfileTab_InfusionSoft</name>
            </class>
            <params>
                <param key="uri" value="bmoelk.cerb-infusionsoft" />
                <param key="contexts">
                    <value>
                        <data key="cerberusweb.contexts.ticket" />
                    </value>
                </param>
                <param key="title" value="InfusionSoft" translation_value="infusionsoft.title" />
            </params>
        </extension>

        <extension point="devblocks.controller">
            <id>bmoelk.infusionsoft.controller</id>
            <name>InfusionSoft Controller</name>
            <class>
                <file>api/App.php</file>
                <name>InfusionSoftController</name>
            </class>
            <params>
                <param key="uri" value="infusionsoft" />
            </params>
        </extension>


    </extensions>


</plugin>
